name: breathing_halo
description: "A smart guided breathing widget for smartwatches with heart rate monitoring and dynamic animations."
version: 0.0.1
homepage:

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

topics:
  - smartwatch
  - breathing
  - wellness
  - health
  - animation
  - wearable

flutter: